<?xml version="1.0" encoding="utf-8" ?>
<phpunit bootstrap="./vendor/autoload.php" colors="true">

    <testsuites>
        <testsuite name="Ziptastic PHP Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

    <filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">./src</directory>
			<exclude>./vendor</exclude>
			<exclude>./tests</exclude>
		</whitelist>
	</filter>

    <logging>
        <log type="coverage-clover" target="clover.xml"/>
    </logging>

</phpunit>
